{% load static %}
<!--/Banner-Start-->
<!-- main-slider -->
<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Explore the ocean</p>
                        <h3 class="title-hero-19">基于LightGBM-CNN-BiGRU变权组合模型的潮位预测研究</h3>
                        <a href="{% url 'portfolio_of_introduction' %}" class="btn btn-style btn-primary mt-4">Read More <i
                                class="fas fa-angle-double-right ms-2"></i></a>

                    </div>
                </div>
            </div>
        </div>


    </div>


</section>
<!-- //main-slider -->

<!--/w3l-properties-->
<section class="w3l-witemshny-main py-5">
    <div class="container py-md-4">
        <!--/row-1-->
        <div class="witemshny-grids row">
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="{% url 'introduction_detail' 1 %}" class="d-block zoom"><img src="{% static 'images/d1.jpeg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="{% url 'introduction_detail' 1 %}">项目简介</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="{% url 'introduction_detail' 2 %}" class="d-block zoom"><img src="{% static 'images/d2.jpeg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="{% url 'introduction_detail' 2 %}">模型简介</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="{% url 'dashboard' %}" class="d-block zoom"><img src="{% static 'images/d3.jpeg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="{% url 'dashboard' %}">数据看板</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="{% url 'contact' %}" class="d-block zoom"><img src="{% static 'images/d4.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="{% url 'contact' %}">联系我们</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="https://www.nature.com/articles/s41598-022-26213-y" class="d-block zoom"><img src="{% static 'images/d5.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="https://www.nature.com/articles/s41598-022-26213-y">英文论文</a>
                </h4>
            </div>
            <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="https://github.com/suye0620/TidalPrediction" class="d-block zoom"><img src="{% static 'images/d6.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-4"><a href="https://github.com/suye0620/TidalPrediction">项目源码</a>
                </h4>
            </div>
        </div>
        <!--//row-1-->

    </div>
</section>
<!--//w3l-properties-->