<!-- the current directory is templates/ -->
{% extends 'layout/base.html' %}
{% load static %}
{% load custom_tag %}

{% block title %}
| Introduction
{% endblock %}

{% block css %}
    <!-- docs CSS for introduction -->
    <!-- change the style (bd-layout (grid))  -->
    <link rel="stylesheet" href="{% static 'css/docs.css' %}">
    <!-- codeBlock style -->
    <link rel="stylesheet" href="{% static 'css/prism-line-numbers.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism-tomorrow.css' %}">
    <!-- 代码块折行 -->
    <style>
        code[class*="language-"], pre[class*="language-"] {
            white-space: pre !important;
        }

        .inner-banner {
            {#background: url({{ introduction.cover }}) no-repeat center;#}
            background: url({% static "images/banner2.jpeg" %}) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            position: relative;
            z-index: 0;
        }
    </style>
{% endblock %}

{% block banner %}
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-sm-5 mt-4">
                            Details </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{% url 'portfolio_of_introduction' %}">Introduction</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Details</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
{% endblock %}

{% block contents %}
    <div class="container-xxl my-md-4 bd-layout">
        <main class="bd-main order-1">
            <div class="bd-intro ps-lg-4">
                <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
                    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0"
                       href="https://github.com/twbs/bootstrap/blob/v5.0.2/site/content/docs/5.0/getting-started/introduction.md"
                       title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub <i
                            class="fab fa-github"></i></a>
                    <h1 class="bd-title" id="content">{{ introduction.title }}</h1>
                </div>
                <p class="bd-lead">{{ introduction.desc }}</p>
            </div>


            <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-dark">
                <strong class="d-block h5 my-2 pb-2 border-dark">目录</strong>
                <nav id="TableOfContents"></nav>
            </div>


            <div class="bd-content ps-lg-4">
                {{ introduction_detail_html | custom_markdown | safe }}
            </div>
        </main>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("#link-introduction").addClass("active")
    </script>

    <!-- math expressions support -->
    <script type="text/x-mathjax-config">
	var articlemathId = document.getElementById("articleContent");
	var commentmathId = document.getElementById("commentlist-container");
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'] ], //行内公式
			displayMath: [ ['$$','$$'] ], //行间公式
			skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'], //渲染时跳过的html标签
			ignoreClass: "summary", //忽略的class
		}
	});
	MathJax.Hub.Queue(["Typeset", MathJax.Hub, articlemathId, commentmathId]); //指定渲染的html块，可以为多个




    </script>
    <script src="//cdn.bootcss.com/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Table of Contents support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.js"></script>
    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '#TableOfContents',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.bd-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h2, h3, h4',
            // For headings inside relative or absolute positioned containers within content.
            {#hasInnerContainers: true,#}
            {#collapseDepth: Number('0'),#}
            headingsOffset: 20,
            scrollSmoothOffset: -40
        });

        // modify the toc link href to support Chinese.
        let i = 0;
        let tocHeading = 'toc-heading-';
        $('#TableOfContents a').each(function () {
            $(this).attr('href', '#' + tocHeading + (++i));
        });

        // modify the heading title id to support Chinese.
        i = 0;
        $('.bd-content').children('h2, h3, h4').each(function () {
            $(this).attr('id', tocHeading + (++i));
        });
    </script>

    <!-- codeBlock support -->
        <!-- 代码块功能依赖 -->
    <script type="text/javascript" src="{% static 'plugin/codeBlock/codeBlockFuction.js' %}"></script>
        <!-- 代码语言 -->
    <script type="text/javascript" src="{% static 'plugin/codeBlock/codeLang.js' %}"></script>
        <!-- 代码块复制 -->
{#    <script type="text/javascript" src="{% static 'plugin/codeBlock/codeCopy.js' %}"></script>#}
        <!-- 代码块收缩 -->
    <script type="text/javascript" src="{% static 'plugin/codeBlock/codeShrink.js' %}"></script>
        <!-- 代码高亮 -->
    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>

{% endblock %}