<!-- the current directory is templates/ -->
{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
| Introduction
{% endblock %}

{% block css %}
    <style>
        .inner-banner {
            background: url({% static "images/banner3.jpeg" %}) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            position: relative;
            z-index: 0;
        }
    </style>
{% endblock %}

{% block banner %}
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-sm-5 mt-4">
                            Introduction </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Introduction</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
{% endblock %}

{% block contents %}
    <!-- features section -->
    <section class="w3l-features py-5" id="features">
        <div class="container py-lg-5 py-md-4 py-2">
            {% if method_flag %}
                <div class="title-content text-center mb-lg-3 mb-4">
                    <h6 class="title-subw3hny mb-1">The portfolio of all introduction</h6>
                    <h3 class="title-w3l">介绍的归档</h3>
                </div>
                <div class="main-cont-wthree-2">
                    <div class="row justify-content-center">
                        {% for introduction in top_introduction %}
                            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                                <div class="grids-1 box-wrap">
                                    <div class="icon">
                                        <i class="{{ introduction.portfolio_icon }}"></i>
                                    </div>
                                    <h4><a href="{% url 'introduction_detail' introduction.id %}"
                                           class="title-head mb-3">{{ introduction.title }}</a></h4>
                                    <p class="text-para">{{ introduction.desc }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="title-content text-center mb-lg-3 mb-4">
                    <h6 class="title-subw3hny mb-1">Error</h6>
                    <h3 class="title-w3l">The request method is not True</h3>
                </div>
            {% endif %}

        </div>
    </section>
    <!--//features section -->
{% endblock %}
