<!-- the current directory is templates/ -->
{% extends 'layout/base.html' %}
{% load static %}
{% load custom_tag %}

{% block title %}
    | Dashboard
{% endblock %}


{% block css %}
    <style>
        .inner-banner {
            background: url({% static "images/banner4.jpeg" %}) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            position: relative;
            z-index: 0;
        }
    </style>
{% endblock %}

{% block banner %}
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-sm-5 mt-4">
                            Dashboard </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Dashboard</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
{% endblock %}

{% block contents %}
    <!--/download-section-->
    <div class="w3l-faq-block py-5" id="faq">
        <div class="container content-gd py-lg-5">
            <div class="row mt-3">
                <div class="col-lg-6 faqw3-right pe-lg-5">
                    <div class="faqw3content text-left">
                        <h6 class="title-subw3hny mb-1 text-left">Data Source</h6>
                        <h3 class="title-w3l mb-2">数据来源</h3>
                    </div>
                    <p class="mb-3">
                        为了进行有效的潮汐预报，临海国家大多会在其主要港口设置潮汐测量站，以收集足够的用于预报的观测数据。
                        我们本次研究使用的数据来源于爱尔兰海洋研究所运营的实时潮汐监测网络（The Irish National Tide Gauge
                        Network，
                        INTGN）。
                        该潮汐检测网络收集的数据维度包括：气象站（ID）、日期时间（时间戳格式为yyyy-mm-ddThh:mm:ss）、天文潮水位（最低天文潮位
                        [LAT]以上的海平面，单位：m）和马林头水位（与气象基准Malin Head相关的水位，m）。
                        用户下载数据时可以设置表计、时间段等条件进行筛选，并获得多种输出文件类型。实时数据也可从FTP站点获取，
                        参见<a
                            href="http://www.marine.ie/site-area/data-services/real-time-observations/tidal-observations-0"
                            style="color: var(--secondary-color);">www.irishtides.ie</a>。
                        用户可以从该站点上获得更多的爱尔兰特定沿海位置的海平面、海水温度和大气压力监测信息。
                    </p>

                </div>
                <div class="col-lg-6 faqw3-left">
                    <img src="{% static 'images/mi_logo.gif' %}" alt="" class="img-fluid radius-image">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    01. CSV
                                </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i class="fas fa-download" style="font-size: 1.75rem"></i>
                                    <a target="_blank"
                                       href="https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html"
                                       style="color: var(--secondary-color);">https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    02. ISO 19156:2011 Observations and Measurements XML
                                </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i class="fas fa-file-code" style="font-size: 1.75rem"></i><br>
                                    <a target="_blank"
                                       href="https://iemarinedata.blob.core.windows.net/observations-and-measurements/ie_marine_data__dataset_2774.xml"
                                       style="color: var(--secondary-color);">https://iemarinedata.blob.core.windows.net/observations-and-measurements/ie_marine_data__dataset_2774.xml</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    03. JSON
                                </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i class="fas fa-download" style="font-size: 1.75rem"></i>
                                    <a target="_blank"
                                       href="https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html"
                                       style="color: var(--secondary-color);">https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingFourth">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFourth" aria-expanded="false"
                                        aria-controls="collapseFourth">
                                    04. NetCDF
                                </button>
                            </h4>
                            <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i class="fas fa-download" style="font-size: 1.75rem"></i>
                                    <a target="_blank"
                                       href="https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html "
                                       style="color: var(--secondary-color);">https://erddap.marine.ie/erddap/tabledap/IrishNationalTideGaugeNetwork.html</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingFifth">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFifth" aria-expanded="false"
                                        aria-controls="collapseFifth">
                                    05. Marine Institute Home Page
                                </button>
                            </h4>
                            <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <i class="fas fa-link" style="font-size: 1.75rem"></i>
                                    <a target="_blank" href="http://www.marine.ie"
                                       style="color: var(--secondary-color);">http://www.marine.ie</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- //download-section -->

    <!--/Location Distribution of Each Site-->
    <section class="w3l-servicesblock py-5" id="progress">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-5 pe-lg-5">
                    <h6 class="title-subw3hny mb-1">Location Distribution of Each Site</h6>
                    <h3 class="title-w3l">站点分布</h3>
                    <div class="mt-md-4 mt-3">
                        {{ df_siteinfo | safe }}
                    <table class="table table-hover">
                        <thead>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Site</th>
                            <th scope="col">Latitude (°)</th>
                            <th scope="col">Longitude (°)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in siteinfo %}
                        <tr>
                            <th scope="row">{{ row | add:1 }}</th>
                            <td>{{ siteinfo| get_v:row | get_v:"Site" }}</td>
                            <td>{{ siteinfo| get_v:row | get_v:"Latitude" | floatformat:4 }}</td>
                            <td>{{ siteinfo| get_v:row | get_v:"Longitude" | floatformat:4 }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    </div>

                </div>
                <div class="col-lg-6 align-self pe-lg-4">
                    <!-- /bing maps for Ireland -->
                        <div id='myMap-Ireland' style='height: 40vh;'></div>
                    <!-- //bing maps for Ireland -->
                </div>

            </div>
        </div>
    </section>
    <!--//Location Distribution of Each Site-->

    <script type='text/javascript'>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('myMap-Ireland'), {
                {# latitude, longitude#}
                center: new Microsoft.Maps.Location(53.177860260009766, -8.148856163024902),
                zoom: 6,
            });
            {% for row in siteinfo %}
                var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location({{siteinfo| get_v:row | get_v:"Latitude" | floatformat:4}},{{ siteinfo| get_v:row | get_v:"Longitude" | floatformat:4 }}), {
                    color: '#0267bc',
                    title: '{{ siteinfo| get_v:row | get_v:"Site" }}',
                });
                map.entities.push(pushpin);
            {% endfor %}
        }
    </script>
    <script type='text/javascript'
            src='https://cn.bing.com/api/maps/mapcontrol?branch=experimental&setmkt=zh-cn&key=Am_dTaZgHvrBLrlWbGxhwPilUh-lWZBmzI6Ym2DZhUa0AC7-pnJIg95pPXzPnhsW&callback=loadMapScenario'
            async defer>
    </script>

    <!-- dashboard section -->
    <section class="w3l-features py-5" id="features">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">What We Do</h6>
                <h3 class="title-w3l">数据看板</h3>
            </div>
            <div id="plotdemo" style="width: 600px;height:400px;"></div>
        </div>
    </section>
    <!--//dashboard section -->
{% endblock %}

{% block js %}
    <script>
        $("#link-dashboard").addClass("active")
    </script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('plotdemo'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
                {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
