<!-- the current directory is templates/ -->
{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
| Contact Us
{% endblock %}

{% block css %}
    <style>
        .inner-banner {
            background: url({% static "images/banner5.jpg" %}) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            position: relative;
            z-index: 0;
        }
    </style>
{% endblock %}

{% block banner %}
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-sm-5 mt-4">
                            Contact Us </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Contact</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
{% endblock %}

{% block contents %}
    <!-- contacts-5-grid -->
    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-lg-4 pt-md-3 pb-lg-4">
            <div class="container">
                <div class="heading text-center mx-auto">
                    <h5 class="title-subw3hny text-center">Contact our research team</h5>
                    <h3 class="title-w3l">Got any <span class="inn-text">Questions? </span></h3>
                </div>

                <div class="contacts-5-grid-main mt-5">
                    <div class="contacts-5-grid">
                        <div class="map-content-5">
                            <div class="d-grid grid-col-2 justify-content-center">
                                <div class="contact-type">
                                    <div class="address-grid">
                                        <span class="fas fa-map-marked-alt"></span>
                                        <h6>Address</h6>
                                        <p>湖北省武汉市东湖新技术开发区南湖大道182号(中国大陆)</p>

                                    </div>
                                    <div class="address-grid">
                                        <span class="fas fa-envelope-open-text"></span>
                                        <h6>Email</h6>
                                        <a href="mailto:small_black_luo@163.com" class="link1">small_black_luo@163.com</a>

                                    </div>
                                    <div class="address-grid">
                                        <span class="fas fa-phone-alt"></span>
                                        <h6>Phone</h6>
                                        <a href="tel:+86 13375236126" class="link1">+86 133-7523-6126</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="vcomments" class="mt-5"></div>

            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>
    <!-- /bing map api -->
    <div class="container-fluid">
        <div id='myMap-wenbo' style='height: 33vh;'></div>
    </div>
    <!-- //bing map api -->

    <script type='text/javascript'>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('myMap-wenbo'), {
                {# latitude, longitude#}
                center: new Microsoft.Maps.Location(30.47513328484944, 114.39353216983125),
                zoom: 17,
            });
            var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), {
                color: '#0267bc',
                title: '中南财经政法大学',
                subTitle: '文波楼, 统计与数学学院 '
            });
            map.entities.push(pushpin);

        }
    </script>
    <script type='text/javascript'
            src='https://cn.bing.com/api/maps/mapcontrol?branch=experimental&setmkt=zh-cn&key=Am_dTaZgHvrBLrlWbGxhwPilUh-lWZBmzI6Ym2DZhUa0AC7-pnJIg95pPXzPnhsW&callback=loadMapScenario'
            async defer>
    </script>
    <!-- 评论功能 -->
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{valine.appid}}',
            appKey: '{{valine.appkey}}',
            avatar: '{{ valine.avatar }}',
            pageSize: '{{valine.pagesize}}',
            lang: 'zh-cn',
            placeholder: '{{ valine.placeholder }}'
        })
    </script>
{% endblock %}

{% block js %}
<script>
    $("#link-contact").addClass("active")
</script>
{% endblock %}